apriltag==0.0.16
cv2==
opencv-python==4.11.0.86

# pandas==2.0.0
# numpy==1.24.3
# scikit-learn==1.2.2
# matplotlib==3.7.1
# streamlit==1.22.0
# shap==0.41.0
# openai==0.27.8
# # openai>=1.0.0
# transformers==4.28.1
# langchain==0.0.208
# # langchain-core>=0.1.0
# # langchain-openai>=0.0.1
# pytorch-lightning==2.0.2
# torch==2.0.1
# seaborn==0.13.2
# plotly==5.14.0
# python-dotenv==1.0.0